body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #EDEDED;
    font-family: Corbel, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.body-content h2 {
    color: dimgray;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Corbel, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footerdiv {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
    background-color: #EDEDED;
    color: dimgray;
}

hr {
    border-top: 1px solid #DBDBDB;
}

@media (min-width: 768px) {
    .footerdiv {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .footerdiv {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .footerdiv {
        max-width: 1170px;
    }
}

.loginHeader {
    margin-bottom: 12pt;
    font-size: 30pt;
    text-align: center;
    color: #D3622A;
}

.infoTitle {
    color: dimgray;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: dimgray;
    height: 3px;
}

.login-col-8 {
    width: 310px;
    height: 327px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.signup-col-8 {
    width: 310px;
    height: 410px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.login-col-10 {
    width: 100%;
}

.col-md-offset-2 {
    margin-left: 0 !important;
    width: 232pt;
    line-height: 33px;
}

    .col-md-offset-2 .checkbox {
        padding-top: 0;
    }

.checkbox input[type="checkbox"] {
    margin-top: 10px;
}

.facebookbutton {
    border: none;
    background-color: #3B5998;
    padding: 0;
    width: 100%;
    height: 34px;
}

.facebookbutton:focus {
      line-height: 36px;
}

.login-col-8 .btn-default {
    float: right;
}

.forgotpass {
    float: right;
    color: #3B5998;
}

.forgotpass:hover {
    color: #3B5998;
}

.forgotpass:focus {
    outline: 0;
}

button:focus {
    outline: 0;
}

.btn-login {
    width: 100%;
    background-color: dimgray;
    color: azure;
}

.btn-new {
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-new:hover {
    text-decoration: none;
}

    .btn-login:hover {
        background-color: dimgray;
        color: azure;
    }

    .btn-login:focus {
        background-color: grey;
        color: azure;
        outline: 0;
    }

.navbar-brand {
    color: #D3622A;
    font-size: 29px;
}

.navbar-brand:hover {
    color: #D3622A !important;
}

.navbar-nav li {
    font-size: 16px;
}

.navbar-nav li > a {
    color: #3B5998;
}

.navbar-nav li > a:hover {
    color: #D3622A !important;
}

@media (max-width: 767px) {
    .nav > li:hover {
        background-color: #3B5998;
    }
    .nav > li > a:hover {
        color: azure !important;
    }
}

.agreeterms {
    text-align: center;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
    color: dimgray;
}

@media (max-width: 767px) {
    .signup-col-8 {
        position: relative !important;
        height: 470px;
    }
    .login-col-8 {
        position: relative !important;
        height: 337px;
    }
    .footerdiv {
        position: relative !important;
    }
    .loginHeader {
        margin-top: 25px;
    }
    .hello-visibility {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .item-visibility {
        display: none !important;
    }
}

input, select, textarea {
  max-width: 500px;
}

.labelname {
    width: 100%;
}
textarea {
    width: 100%;
    height: 140px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-horizontal .control-label {
  text-align: left;
  padding-left: 5px;
}

.eventTitle {
    margin-top: 30px;
}

.col-md-4 {
    display: inline-block !important;
}

.scrollfeed {
    overflow-y: scroll !important;
    padding: 17px;
    height: 533px;
    border: 1px solid lightgray;
    background-color: #fff;
}

.scrollfeedallView {
    overflow-y: scroll !important;
    padding: 17px;
    height: 504px;
    border: 1px solid lightgray;
    background-color: #fff;
}

.nopad {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.eventBox {
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    display: block;
    line-height: 22px;
    padding: 0 0 6px 0;
    width: 315px;
    float: left;
    margin: 0 30px 30px 0;
    border: 1px solid gainsboro;
}

@media (max-width: 768px) {
    .eventBox {
        max-width: 280px;
    }
    .eventBox_date {
        font-size: 11px !important;
    }
}

.eventBox_date {
    display: block;
    color: rgba(0,0,0,.8);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: lightgray;
    padding: 5px 15px 2px 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
}

.eventBox_title {
    display: block;
    color: #3B5998;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 0px 15px 2px 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.eventBox_dtitle {
    font-weight: bold;
    color: #D3622A;
    font-size: 15px;
    padding: 0px 15px 2px 15px;
}

.eventBox_description {
    padding: 0px 15px 2px 15px;
}

.eventBox_btn {
    margin: 15px auto 10px auto;
    width: 60%;
    display: block;
    text-align: center;
}

.restricterrormsg {
    color: #D3622A;
    margin-top: 20px;
    margin-bottom: 20px;
}

.squareBox {
    background-color: snow;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    display: block;
    padding: 0 0 6px 0;
    width: 100%;
    margin: 0 0 30px 0;
    border: 1px solid gainsboro;
}

.squareBox_ctime {
    display: block;
    color: rgba(0,0,0,.8);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: linen;
    padding: 5px 15px 2px 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
}

.squareBox_etitle {
    display: block;
    color: #3B5998;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 0px 15px 2px 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.squareBox_yourtitle {
    display: block;
    color: #3B5998;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 0px 15px 2px 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.squareBox_youretitle {
    display: block;
    background-color: lightgray;
    color: #3B5998;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 15px 2px 15px;
    margin-bottom: 9px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.squareBox_title {
    display: block;
    color: gray;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 0px 15px 2px 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.squareBox_dtitle {
    font-weight: bold;
    color: #D3622A;
    font-size: 15px;
    padding: 0px 15px 2px 15px;
}

.squareBox_description {
    padding: 0px 15px 2px 15px;
}