body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #EDEDED;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footerdiv {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
    background-color: #EDEDED;
    color: dimgray;
}

hr {
    border-top: 1px solid #DBDBDB;
}

@media (min-width: 768px) {
    .footerdiv {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .footerdiv {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .footerdiv {
        max-width: 1170px;
    }
}

.loginHeader {
    font-family: Corbel, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 12pt;
    font-size: 30pt;
    text-align: center;
    color: #D3622A;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: dimgray;
    height: 3px;
}

.login-col-8 {
    width: 310px;
    height: 327px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.signup-col-8 {
    width: 310px;
    height: 410px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.login-col-10 {
    width: 100%;
}

.col-md-offset-2 {
    margin-left: 0 !important;
    width: 232pt;
    line-height: 33px;
}

    .col-md-offset-2 .checkbox {
        padding-top: 0;
    }

.checkbox input[type="checkbox"] {
    margin-top: 10px;
}

.facebookbutton {
    border: none;
    background-color: #3B5998;
    padding: 0;
    width: 100%;
    height: 34px;
}

.facebookbutton:focus {
      line-height: 36px;
}

.login-col-8 .btn-default {
    float: right;
}

.forgotpass {
    float: right;
    color: #3B5998;
}

.forgotpass:hover {
    color: #3B5998;
}

.forgotpass:focus {
    outline: 0;
}

button:focus {
    outline: 0;
}

.btn-login {
    width: 100%;
    background-color: dimgray;
    color: azure;
}

    .btn-login:hover {
        background-color: dimgray;
        color: azure;
    }

    .btn-login:focus {
        background-color: grey;
        color: azure;
        outline: 0;
    }

.navbar-brand {
    color: #D3622A;
}

.navbar-brand:hover {
    color: #D3622A !important;
}

.navbar-nav li > a {
    color: #3B5998;
}

.navbar-nav li > a:hover {
    color: #D3622A !important;
}

@media (max-width: 767px) {
    .nav > li:hover {
        background-color: #3B5998;
    }
    .nav > li > a:hover {
        color: azure !important;
    }
}

.agreeterms {
    text-align: center;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
    color: dimgray;
}

@media (max-width: 767px) {
    .signup-col-8 {
        position: relative !important;
        height: 470px;
    }
    .login-col-8 {
        position: relative !important;
        height: 337px;
    }
    .footerdiv {
        position: relative !important;
    }
    .loginHeader {
        margin-top: 25px;
    }
    .hello-visibility {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .item-visibility {
        display: none !important;
    }
}